pyTelegramBotAPI==4.15.4
aiohttp==3.8.6
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
jira==3.5.1
python-dotenv==1.0.0
requests==2.31.0
SQLAlchemy==2.0.23
typing_extensions==4.12.2
urllib3==2.2.3
